{{ define "head" }}
	{{ partial "background-image.html" . }}
	<style>
		.mobile {
			display: none;
		}
		@media only screen and (max-width: 565px) {
			.mobile {
				display: inline-block!important;
			}
			.desktop {
				display: none!important;
			}
		}
	</style>
{{ end }}

{{ define "header" }}
{{ partial "header.html" . }}
{{ end }}

{{ define "main" }}
	<div class="bg-img"></div>
	<main class="site-main section-inner thin animated fadeIn faster">
		<h1>{{ .Title }}</h1>
		{{- if .Content }}
		<div class="content">
			{{ .Content }}
		</div>
		{{- end }}
		{{- range .Data.Pages.GroupByDate "2006" }}
		<div class="posts-group">
			<div class="post-year" id="{{ .Key }}">{{ .Key }}</div>
			<ul class="posts-list">
				{{- range .Pages }}
				<li class="post-item" style="margin-bottom: 0.8em;">
					<div class="content">
						<span class="post-title">
							<span style="
								background-color: #7d828a;
								display: inline-block;
								padding: 2.5px 6px;
						    margin-right: 3px;
								border-radius: 3px;
								font-weight: 500;								
							">
								{{.Title}}
							</span>
							<br class="mobile" />
							<span class="post-day mobile">
								{{ .PublishDate.Format "Jan 2" }}
							</span>	
							{{ if .Params.link }}
							· <a style="display: inline; padding: 0;" href="{{ .Params.link }}" title="Link {{ .Params.title }}" target="_blank" rel="noopener">Link</a>
							{{ end }}			
							{{ if .Params.repo }}
							· <a style="display: inline; padding: 0;" href="{{ .Params.repo }}" title="Repo {{ .Params.title }}" target="_blank" rel="noopener">Repo</a>
							{{ end }}							
							{{ if .Content }}
							· <a style="display: inline; padding: 0;" href="{{ .Permalink }}" title="Detail {{ .Params.title }}">See Detail</a>
							{{ end }}								
							{{ if .Params.sub }}
								<ul class="ubuntu" style="margin-top: 0.25em;">
									{{ range .Params.sub }}
										{{ if .showInDev | default true }}
											<li>{{ .title }}</li>
										{{ end }}
									{{ end }}
								</ul>																	
							{{ end }}
							<!-- {{ if .Content }}
								<a style="display: block; padding: 0; width: 100%; text-align: right;" href="{{ .Permalink }}">See Detail</a>
							{{ end }}															 -->
						</span>	
						<span class="post-day desktop">
							{{ .PublishDate.Format "Jan 2" }}
						</span>
					</div>
					{{ if .Params.images }}
							{{ $title := .Title }}
							{{ range first 3 .Params.images }}
								<img src="{{ . | relURL }}" 
									alt="{{ $title }}"								
									title="{{ $title }}"								 
									style="width: 100%; margin-bottom: 0.3em;" />
							{{ end }}
					{{ end }}					
				</li>
				{{- end }}
			</ul>
		</div>
		{{- end }}
		<div class="content" style="text-align: right;">
			<p>
				See all in <a href="https://github.com/budimanfajarf/" target="_blank" rel="noopener" title="GitHub budimanfajarf">GitHub Repository</a> :)
			</p>
		</div>
	</main>
{{ end }}

{{ define "footer" }}
{{ partialCached "footer.html" . }}
{{ end }}
