{{ define "head" }}
	{{ partial "background-image.html" . }}
{{ end }}

{{ define "header" }}
{{ partial "header.html" . }}
{{ end }}

{{ define "main" }}
	<div class="bg-img"></div>
	<main class="site-main section-inner thin animated fadeIn faster">

		<article class="thin">
			<header class="post-header">
				<div class="post-meta">
					<span>{{ .Date.Format .Site.Params.dateform }}</span>
				</div>
				<h1>{{ .Title }}</h1>
			</header>
						
			<div class="content">
				<p>
					{{ if .Params.link }}
					· <a style="display: inline; padding: 0;" href="{{ .Params.link }}" target="_blank">link</a>
					{{ end }}			
					{{ if .Params.repo }}
					· <a style="display: inline; padding: 0;" href="{{ .Params.repo }}" target="_blank">repo</a>
					{{ end }}							
				</p>
				{{ .Content | replaceRE "(<h[1-6] id=\"([^\"]+)\".+)(</h[1-6]+>)" `${1}<a href="#${2}" class="anchor" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path><line x1="8" y1="12" x2="16" y2="12"></line></svg></a>${3}` | safeHTML }}
			</div>
		</article>

		{{- if .Params.toc }}
		<aside id="toc">
			<div class="toc-title">{{ i18n "tableOfContents" }}</div>
			{{ .TableOfContents }}
		</aside>
		{{- end }}
		
		{{- if .Params.comments }}
		<div id="comments" class="thin">
			{{ partial "comments.html" . }}
		</div>
		{{- end }}		
	</main>
{{ end }}

{{ define "footer" }}
{{ partialCached "footer.html" . }}
{{ end }}
