@import "predefined.scss";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

#home-photo  {
  text-align: center;
}

#home-photo img {
  width: 150px;
  height: auto;
  border-radius: 30%;
}

#home-title {
  font-size: 1.8em;
}

#home-subtitle {
  font-style: normal;
  line-height: 1.75em;
  margin-bottom: 1.2em;
}

#home-nav {
  text-align: center;
}

#home-nav a {
  display: inline-block;
  margin: 0 .2em;
  margin-top: .5em;

  /* box-shadow: inset 0 -.2em 0 #018574;
  line-height: 1.15;   */
}

/* #home-nav a:hover {
  box-shadow: inset 0 -1em 0 #018574;
} */

body {
  font-family: "Ubuntu", "Trebuchet MS", Verdana, "Verdana Ref", "Segoe UI", Candara, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

.content p, .content ul, .content ol, .content table, .tags {
  font-family: "Merriweather", Georgia, Cambria, "Times New Roman", Times, serif;
  letter-spacing: .04em;
  line-height: 1.8;
}

.content .ubuntu {
  font-family: "Ubuntu", "Trebuchet MS", Verdana, "Verdana Ref", "Segoe UI", Candara, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  line-height: 1.6;
  letter-spacing: .06em;
}

.site-branding img {
  height: 34px;
  border-radius: 35%;
  margin-bottom: -9px;
  opacity: .8;
}

.site-branding a:hover img {
  opacity: 1;
}

.line-height-2 {
  line-height: 2;
}

.home-main {
  font-size: .7em;
  margin-top: .55em;
}

.home-main .posts-group {
  margin-bottom: 0;
}

.home-main .post-nav {
  font-size: .9em; margin-top: .8em; margin-bottom: 2em;
}

.posts-group .post-day {
  font-size: 75%;
}

.posts-group .post-title {
  line-height: 1.2em;
}

#home-center {
  padding-top: 1.5em;
}

.banner-404 .btn-404 a {
  margin-bottom: 1em;
  margin-right: 1em;
}

.post-meta.archived {
  opacity: 1
}

.post-meta.archived span {
  opacity: .6;
}

.post-meta.archived .archived-label {
  display: inline-block;
  opacity: 1;
  font-weight: 500;
  letter-spacing: 0.25px;
  color: #e8eef2;
  background: #c59219;
  border-radius: 3px;
  padding: 1px 4px;
  margin-bottom: 4px;
}

.post-meta.archived .archived-info {
  font-size: .8rem;
  display: block;
  margin-bottom: 2.5em;
}

blockquote.twitter-tweet, blockquote.twitter-tweet a {
  color: #e8eef2;
}

blockquote.twitter-tweet a {
  box-shadow: inset 0 -4px 0 #2b7bb9!important;
}

blockquote.twitter-tweet a:hover {
  text-decoration: none;
  box-shadow: inset 0 -1em 0 #2b7bb9!important;
}
footer a:hover {
  cursor: pointer;
}

.highlight-copy-btn:hover {
  cursor: pointer;
}

.related-posts{
  // margin-top: 3em;
  margin-bottom: 2em;
}

// hufft
.post-item .content {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 12px 0;
}

.home-footer-menu {
  margin-bottom: 0.5em;
}

.light {
  background-color: $light-light-grey;
  box-shadow: inset 0 0 10em rgba(0,0,0,.025);
  min-height: 100vh;
}

.light button,
.light input,
.light select,
.light textarea,
.light body
{
  color: $light-text;
}

.light .highlight-copy-btn {
  color: $text;
}

.light a {
  color: $light-text;

  &:hover {
    color: $midnightblue;
    text-shadow: 0 0 1px $midnightblue;
  }
}

.light .content a {
  box-shadow: inset 0 -4px 0 $light-theme;
}

.light .content a:hover {
  box-shadow: inset 0 -1em 0 $light-theme;
}

.light .content a.anchor {
  box-shadow: none;
}

.light .btn-404 a {
  border-color: $light-text;
}

.light .btn-404 a:hover {
  border-color: $midnightblue;
}

.light #site-header,
.light #mobile-menu {
  background-color: $light-dark-grey;
  box-shadow: -1px -2px 3px rgba(0,0,0,.10);
}

.light .site-nav, .light .site-branding img {
  opacity: .9;
}

.light #home-footer, .light .posts-group .post-day, .light .posts-group .post-year {
  opacity: .8;
}

.light .post-meta.archived .archived-label {
  background: #eea236;
  color: #faf9f5;
}

.light blockquote.twitter-tweet, .light blockquote.twitter-tweet a {
  color: $light-text;
}

.light .related-posts {
  border: 3px dashed rgba(000,000,000,.2);
}

.post-nav {
  font-size: 1.1em;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  width: 186px;
  background-color: #7d828a;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0px;
  position: absolute;
  z-index: 1;
  bottom: 175%;
  left: 50%;
  margin-left: -93px;

  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  transition: opacity .7s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  border-width: 8px;
  border-style: solid;
  border-color: #7d828a transparent transparent transparent;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

.show {
  visibility: visible;
  opacity: 1;
}

.home-posts .post-nav {
  margin-bottom: 0em;
}

.home-main .post-title {
  // white-space: nowrap;
  // overflow: hidden;
  // text-overflow: ellipsis;
  // width: 75vw;
  // border: 1px solid #000000;
}

@media only screen and (max-width: 725px) {
  #home-center {
    padding-top: .8em;
  }
}


@media only screen and (max-width: 565px) {
  #home-title {
    font-size: 1.1em;
    font-size: 8vw;
  }

  .post-date {
    display: none;
  }

  .posts-group .post-item a {
    display: block;
  }

  .posts-group .post-item .post-day {
    display: block;
    margin-left: 0;
    margin-top: .3em;
  }

  // .home-dev .posts-group .post-item a {
  //   display: flex;
  // }

  // .home-dev .posts-group .post-item .post-day {
  //   display: flex;
  //   margin-left: 0;
  //   margin-top: 0;
  // }

  .post-item .content {
    display: block;
  }
}

@media only screen and (max-width: 372px) {
  #home-subtitle {
    // font-size: .65em;
    font-size: .7em;
  }
}

@media only screen and (max-width: 350px) {
  #home-subtitle {
    // font-size: .6em;
    font-size: .65em;
  }
}

@media only screen and (max-width: 325px) {
  #home-subtitle, #home-footer {
    font-size: .55em;
  }
}


// it's get messy
@media only screen and (min-width: 761px) {
  body {
    font-size: 105%;
    line-height: 1.68;
    letter-spacing: 0.063em;
  }

  body.home{
    font-size: 100%;
    line-height: 1.6;
    letter-spacing: 0.06em;
  }

  #home-subtitle {
    font-size: .75em;
    line-height: 1.775em;
  }

  * {
    box-sizing: border-box;
  }

  .row {
    display: flex;
    margin: auto;
    // width: 50vw;
  }

  .column {
    // flex: 50%;
  }

  .home-main .post-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 25vw;
  }

  .home-posts .post-title {
    width: 33vw;
  }

  .home-dev .post-title {
    width: 17vw;
  }

  .home-posts {
    padding-right: 1vw;
  }

  .home-dev {
    padding-left: 1vw;
  }

  .home .date {
    display: none;
  }

}