@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

#home-photo  {
  text-align: center;
}

#home-photo img {
  width: 160px;
  height: auto;
  border-radius: 30%;
}

#home-subtitle {
  font-style: normal;
}

#home-nav {
  text-align: center;
}

#home-nav a {
  display: inline-block;
  margin: 0 .2em;
  margin-top: 0.5em;  

  /* box-shadow: inset 0 -0.2em 0 #018574;
  line-height: 1.15;   */
}

/* #home-nav a:hover {
  box-shadow: inset 0 -1em 0 #018574;
} */

body {
  font-family: "Ubuntu", "Trebuchet MS", Verdana, "Verdana Ref", "Segoe UI", Candara, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

.site-branding img {
  height: 34px;
  border-radius: 35%;
  margin-bottom: -9px;
  opacity: 0.8;
}

.site-branding a:hover img {
  opacity: 1;
}

.line-height-2 {
  line-height: 2;
}

#home-center {
  margin-top: 1em;
}

#home-posts {
  font-size: 0.7em;  
  margin-top: 0.5em;  
}

.posts-group .post-day {
  font-size: 75%;
}

@media only screen and (max-width: 565px) {
  #home-title {
    font-size: 1.1em;
    font-size: 8vw;    
  }
  
  .post-date {
    display: none;
  }

  .posts-group .post-item a {
    display: block;
  } 

  .posts-group .post-item .post-day {
    display: block;    
    margin-left: 0;
    margin-top: 0.3em;    
  }
}
