@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

#home-photo  {
  text-align: center;
}

#home-photo img {
  width: 160px;
  height: auto;
  border-radius: 30%;
}

#home-subtitle {
  font-style: normal;
  line-height: 1.5em;
  margin-bottom: 1.2em;
}

#home-nav {
  text-align: center;
}

#home-nav a {
  display: inline-block;
  margin: 0 .2em;
  margin-top: .5em;  

  /* box-shadow: inset 0 -.2em 0 #018574;
  line-height: 1.15;   */
}

/* #home-nav a:hover {
  box-shadow: inset 0 -1em 0 #018574;
} */

body {
  font-family: "Ubuntu", "Trebuchet MS", Verdana, "Verdana Ref", "Segoe UI", Candara, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

.site-branding img {
  height: 34px;
  border-radius: 35%;
  margin-bottom: -9px;
  opacity: .8;
}

.site-branding a:hover img {
  opacity: 1;
}

.line-height-2 {
  line-height: 2;
}

#home-posts {
  font-size: .7em;  
  margin-top: .55em;  
}

#home-posts .posts-group {
  margin-bottom: 0;
}

#home-posts .post-nav {
  font-size: .9em; margin-top: .8em; margin-bottom: 2em;
}

.posts-group .post-day {
  font-size: 75%;
}

.posts-group .post-title {
  line-height: 1.2em;
}

#home-center {
  padding-top: 1.5em;
}

.banner-404 .btn-404 a {
  margin-bottom: 1em;
  margin-right: 1em;  
}

.post-meta.archived {
  opacity: 1
}

.post-meta.archived span {
  opacity: .6;
}

.post-meta.archived .archived-label {
  display: inline-block; 
  opacity: 1; 
  font-weight: 500; 
  letter-spacing: 0.25px; 
  color: #e8eef2; 
  background: #c59219; 
  border-radius: 3px; 
  padding: 1px 4px; 
  margin-bottom: 4px;
}

.post-meta.archived .archived-info {
  font-size: .8rem;
  display: block; 
  margin-bottom: 1.5em; 
}

blockquote.twitter-tweet, blockquote.twitter-tweet a {
  color: #e8eef2;
}

blockquote.twitter-tweet a {
  box-shadow: inset 0 -4px 0 #2b7bb9;
}

blockquote.twitter-tweet a:hover {
  text-decoration: none;
  box-shadow: inset 0 -1em 0 #2b7bb9;
}

@media only screen and (max-width: 725px) {
  #home-center {
    padding-top: .8em;
  }
}

.home-footer-menu {
  margin-bottom: 0.5em;
}

@media only screen and (max-width: 565px) {
  #home-title {
    font-size: 1.1em;
    font-size: 8vw;    
  }
  
  .post-date {
    display: none;
  }

  .posts-group .post-item a {
    display: block;
  } 

  .posts-group .post-item .post-day {
    display: block;    
    margin-left: 0;
    margin-top: .3em;    
  }
}

@media only screen and (max-width: 375px) {
  #home-subtitle {
    font-size: .6em;
  }  
}

@media only screen and (max-width: 325px) {
  #home-subtitle, #home-footer {
    font-size: .55em;
  }  
}
